USE [master]
GO
/****** Object:  Database [Tren]    Script Date: 28/10/2022 12:13:17 p. m. ******/
CREATE DATABASE [Tren]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tren', FILENAME = N'E:\Sql\MSSQL15.MSSQLSERVER\MSSQL\DATA\Tren.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tren_log', FILENAME = N'E:\Sql\MSSQL15.MSSQLSERVER\MSSQL\DATA\Tren_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tren].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tren]
GO
/****** Object:  Table [dbo].[Pasajeros]    Script Date: 28/10/2022 12:13:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pasajeros](
	[id] [int] NULL,
	[idPasajero] [varchar](50) NOT NULL,
	[Pnombre] [varchar](50) NULL,
	[asiento] [varchar](50) NULL,
	[No_ticket] [varchar](50) NULL,
	[precio] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idPasajero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tren]    Script Date: 28/10/2022 12:13:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tren](
	[id_tren] [int] NOT NULL,
	[tren_nombre] [varchar](50) NULL,
	[origen] [varchar](50) NULL,
	[destino] [varchar](50) NULL,
	[fecha_de_salida] [date] NULL,
	[fecha_de_llegada] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tren] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pasajeros]  WITH CHECK ADD  CONSTRAINT [FK_Pasajeros_Tren] FOREIGN KEY([id])
REFERENCES [dbo].[Tren] ([id_tren])
GO
ALTER TABLE [dbo].[Pasajeros] CHECK CONSTRAINT [FK_Pasajeros_Tren]
GO
USE [master]
GO
